#services{
    background-color: #0E2538;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
.service-head-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.service-headingtext{
    color: #16A4B8;
    font-size: 30px;
    border-bottom: 2px solid #D9D9D9;
}
.service-subheadingtext{
    color: #FDFAFA;
    font-size: 25px;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.individual-service-container{
    background-color: #D9D9D9;
    width: 400px;
    height: 320px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 20px 10px 10px 20px;
    cursor: pointer;
}
.individual-service-container:hover{
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #16A4B8;
    transition: 0.6s ease-in-out;
    /* transform: 0.5s ease-in-out; */
}
.serviceicon{
    width: 50px;
    height: 50px;
    color: #0E2538;
    margin-bottom: 15px;
}
.individualservice-headtext{
    color: #0E2538;
    font-size: 25px;
    margin-bottom: 10px;
}
.individualservice-paracontainer{
    width: 90%;
    margin-bottom: 20px;
}
.individualservice-paratext{
    font-size: 19px;
}
/* .learnmorebtn::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../../assets/rightarrow.png');
    background-size: cover;
    margin-left: 10px;    
} */

@media(min-width:1150px) and (max-width:1285.99px){
    .services-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
}
@media(min-width:1000px) and (max-width:1149.99px){
    .services-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
}
@media(min-width:800px) and (max-width:999.99px){
    .services-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .individual-service-container{
        background-color: #D9D9D9;
        width: 330px;
        height: 350px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 10px 10px 20px;
        cursor: pointer;
    }
}
@media(min-width:600px) and (max-width:799.99px){
    #services{
        margin-bottom: 30px;
    }
    .services-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .service-headingtext{
        color: #16A4B8;
        font-size: 28px;
        border-bottom: 2px solid #D9D9D9;
    }
    .individual-service-container{
        background-color: #D9D9D9;
        width: 270px;
        height: auto;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 10px 10px 20px;
        cursor: pointer;
    }
    .service-subheadingtext{
        color: #FDFAFA;
        font-size: 20px;
    }
}
@media(min-width:500px) and (max-width:599.99px){
    #services{
        margin-bottom: 30px;
    }
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .service-headingtext{
        color: #16A4B8;
        font-size: 27px;
        border-bottom: 2px solid #D9D9D9;
    }
    .individual-service-container{
        background-color: #D9D9D9;
        width: 420px;
        height: auto;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 10px 10px 20px;
        cursor: pointer;
    }
    .service-subheadingtext{
        color: #FDFAFA;
        font-size: 16px;
    }
}
@media(min-width:400px) and (max-width:499.99px){
    #services{
        margin-bottom: 70px;
    }
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .service-headingtext{
        color: #16A4B8;
        font-size: 27px;
        border-bottom: 2px solid #D9D9D9;
    }
    .individual-service-container{
        background-color: #D9D9D9;
        width: 330px;
        height: auto;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 10px 10px 20px;
        cursor: pointer;
    }
    .service-subheadingtext{
        color: #FDFAFA;
        font-size: 17px;
        text-align: center;
    }
}
@media(min-width:350px) and (max-width:399.99px){
    #services{
        height: auto;
        margin-bottom: 10px;
    }
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .service-headingtext{
        color: #16A4B8;
        font-size: 27px;
        border-bottom: 2px solid #D9D9D9;
    }
    .individual-service-container{
        background-color: #D9D9D9;
        width: 300px;
        height: auto;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 10px 10px 20px;
        cursor: pointer;
    }
    .service-subheadingtext{
        color: #FDFAFA;
        font-size: 16px;
        text-align: center;
    }
}
@media(max-width:349.99px){
    #services{
        margin-bottom: 100px;
    }
    #services{
        height: auto;
        margin-bottom: 120px;
        padding: 15px 10px;
    }
    .services-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .service-headingtext{
        color: #16A4B8;
        font-size: 27px;
        border-bottom: 2px solid #D9D9D9;
    }
    .individual-service-container{
        background-color: #D9D9D9;
        width: auto;
        height: auto;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 20px 10px 10px 20px;
        cursor: pointer;
    }
    .service-subheadingtext{
        color: #FDFAFA;
        font-size: 16px;
        text-align: center;
    }
}