#WhyChooseUs{
    width: 100%;
    height: 300px;
    background-color: #FDFAFA;
    display: flex;
    padding: 30px 20px;
}
.whychooseus-container{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whychooseus-headtext{
    font-size: 35px;
    margin-bottom: 15px;
}
.list-container{
    padding-left: 20px;
    margin-bottom: 25px;
}
.list-container li{
    font-size: 20px;
    margin-bottom: 5px;
}
.whychoose-paracontainer{
    display: flex;
    justify-content: center;
    font-size: 22px;
}

@media(min-width:1150px) and (max-width:1285.99px){
    #WhyChooseUs{
        width: 100%;
        height: 300px;
        padding: 30px 20px;
    }
    .whychooseus-container{
        width: 100%;
        padding-left: 20px;
    }
    .whychooseus-headtext{
        font-size: 34px;
        margin-bottom: 15px;
    }
    .list-container{
        padding-left: 20px;
        margin-bottom: 24px;
    }
    .list-container li{
        font-size: 19px;
        margin-bottom: 5px;
    }
    .whychoose-paracontainer{
        font-size: 21px;
    }
}
@media(min-width:300px) and (max-width:500px){
    #WhyChooseUs{
        width: 100%;
        height: 450px;
        padding: 30px 20px;
    }
    .whychooseus-container{
        width: 100%;
        padding-left: 0;
    }
    .whychooseus-headtext{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .list-container{
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .list-container li{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .whychoose-paracontainer{
        font-size: 18px;
    }
}
@media(max-width:300px){
    #WhyChooseUs{
        width: 100%;
        height: 450px;
        padding: 30px 20px;
    }
    .whychooseus-container{
        width: 100%;
        padding-left: 0;
    }
    .whychooseus-headtext{
        font-size: 28px;
        margin-bottom: 15px;
    }
    .list-container{
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .list-container li{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .whychoose-paracontainer{
        font-size: 18px;
    }
}
