#ContactUs{
    width: 100%;
    height: 550px;
    background-color: black;
    padding-top: 40px;
}
.contactus-container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contactus-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contactimg-container{
    width: 450px;
}
.contact-leftImg{
    width: 100%;
}
.contactus-headtext{
    color: #FDFAFA;
    font-size: 30px;
}
.contact-divide-line{
    width: 5px;
    height: 20px;
    color: white;
}
.contactus-right{
    width: 400px;
    height: 450px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.form-head-container{
    width: 100%;
    height: 80px;
    background-color: #16A4B8;
    color: #ffffff;
    font-size: 25px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    padding: 20px;
}
input{
    width: 300px;
    height: 40px;
    outline: none;
    padding-left: 20px;
}
textarea{
    width: 300px;
    height: 80px;
    outline: none;
    padding: 20px 20px 20px 20px;
}
.submit-btn{
    outline: 0;
    border: 0;
    background-color: #0E2538;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width:1150px) and (max-width:1285.99px){
    #ContactUs{
        width: 100%;
        height: 550px;
        padding-top: 40px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .contactus-left{
        gap: 20px;
    }
    .contactimg-container{
        width: 450px;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 25px;
    }
    .contactus-right{
        width: 390px;
        height: 450px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media(min-width:1000px) and (max-width:1149.99px){
    #ContactUs{
        width: 100%;
        height: 550px;
        padding-top: 40px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 450px;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 20px;
    }
    .contactus-right{
        width: 390px;
        height: 450px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media(min-width:800px) and (max-width:999.99px){
    #ContactUs{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 350px;
        display: none;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 25px;
    }
    .contactus-right{
        width: 390px;
        height: 450px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media(min-width:600px) and (max-width:799.99px){
    #ContactUs{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 350px;
        display: none;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 22px;
    }
    .contactus-right{
        width: 390px;
        height: 450px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media(min-width:500px) and (max-width:599.99px){
    #ContactUs{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 350px;
        display: none;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 18px;
    }
    .contactus-right{
        width: 390px;
        height: 450px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media(min-width:400px) and (max-width:499.99px){
    #ContactUs{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 350px;
        display: none;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 16px;
        text-align: center;
    }
    .contactus-right{
        width: 350px;
        height: 430px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}
@media(min-width:380px) and (max-width:399.99px){
    #ContactUs{
        width: 100%;
        height: auto;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 350px;
        display: none;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 16px;
        text-align: center;
    }
    .contactus-right{
        width: 345px;
        height: 430px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    input{
        width: 300px;
        height: 30px;
        outline: none;
        padding-left: 20px;
    }
    textarea{
        width: 300px;
        height: 80px;
        outline: none;
        padding: 20px 20px 20px 20px;
    }
}
@media(min-width:300px) and (max-width:379.99px){
    #ContactUs{
        width: 100%;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contactus-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contactus-left{
        gap: 15px;
    }
    .contactimg-container{
        width: 350px;
        display: none;
    }
    .contact-leftImg{
        width: 100%;
    }
    .contactus-headtext{
        color: #FDFAFA;
        font-size: 16px;
        text-align: center;
    }
    .contactus-right{
        width: 305px;
        height: 430px;
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    input{
        width: 300px;
        height: 30px;
        outline: none;
        padding-left: 20px;
    }
    textarea{
        width: 300px;
        height: 80px;
        outline: none;
        padding: 20px 20px 20px 20px;
    }
}